body {
  background-image: url(../images/ignasi_pattern_s.png);
}
h1 {
  /* font-family: 'Bubblegum Sans', cursive; */
  /* font-family: 'Kaushan Script', cursive; */
  font-family: 'Courgette', cursive;
  letter-spacing: 3px;
  font-size: 2rem;
  color: #888;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

div.img {
  position: relative;
}

.img {
  cursor: pointer;
}

.fa-times {
  display: none;
  position: absolute;
  top: 1.3rem;
  right: 1.4rem;
  color: red;
  font-size: 1.5rem;
}

.isShowing {
  display: block;
}
